/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.image {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
}

.image::before{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    display: inherit;
    position: absolute;
    content: "" attr(alt) " NOT FOUND";
    border: 1px dashed #888;
    margin: 0;
    padding: 10px 10px 10px 35px;
    top: 0;
    left: 0;
    min-width: 250px;
    background-color: #f0f0f0;
    background-image: url(noimage.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 15px 13px;
    z-index: 1;
    box-sizing: border-box;
}