/* ========================================

CODE YOUR STYLES BELOW!

====================================== */

/* 
light blue #00b3b4
*/

.shadow-typo{
  color: #00b3b4;
  font-size: 5rem;
  text-transform: uppercase;
  text-shadow: 3px 3px 0px #e7eef1,
               8px 8px 0px rgba(0,0,0,.1);
}

.threedee-typo{
  color: #f2395a; /* #d10e31; #890920 */
  font-size: 5rem;
  text-transform: uppercase;
  transform: skew(-5deg, -5deg) rotate(5deg);
  text-shadow: 1px 1px #d10e31,
               2px 2px #d10e31,
               3px 3px #d10e31,
               4px 4px #d10e31,
               5px 5px #d10e31,
               6px 6px #d10e31,
               7px 7px #d10e31,
               8px 8px #d10e31,
               9px 9px #890920,
               10px 10px #890920,
               11px 11px #890920,
               12px 12px 15px rgba(0,0,0,.5)
}