/* ========================================

CODE YOUR STYLES BELOW!

====================================== */

@supports (border-radius: 100%){
  .circle {
    border-radius: 100%;
    background-color: orangered;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    color: #ffffff;
    border: inset -5px -5px 5px rgba(0,0,0,.8);
  }
}

@supports (box-shadow: 5px 5px 5px #aaa){
  .circle {
    box-shadow: 5px 5px 5px rgba(0,0,0,.3);
  }
}