/* ========================================

CODE YOUR STYLES BELOW!

====================================== */

.dropdown {
  position: relative;
}

.dropdown__hover {
  background-image: linear-gradient(-45deg, red, orangered);
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  color: white;
}

.dropdown__menu {
  background-color: white;
  border-radius: 5px;
  width: 200px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  display: none;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
}

.dropdown:hover .dropdown__menu {
  display: block;
  cursor: pointer;
}

.dropdown__menu a {
  width: 200px;
  display: block;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.dropdown__menu a:last-child {
  border: none;
}
